@model TextAnalyticsApp.Web.ViewModels.PageViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-2">
        <select id="sel-client" asp-items="Model.Clients">
            <option value="" selected="selected">Please select</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Text Analytics Demo</h2>
        <div id="container"></div>
    </div>
</div>